.dueAssign{
    display: flex;
    flex-direction: column; 
    /* background-color: purple; */
    /* justify-content: center;*/
    
    height:60vh;
    
}
.dueAssign_tasks{
    margin-top: 20px;
    flex:1;
    overflow: scroll;
    overflow-x: hidden;
}
.dueAssign_tasks > li {     
    margin-top: 20px ;
}
.dueAssign_heading{
    margin-top: 20px;
    margin-left: 30px;
}
.No_assignment{
    
}